@model Warships.Models.BattleViewModel
@{
    ViewBag.Title = "Battle Detail";
}

<h2>@Model.BattleName</h2>

<div class="row">
    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.BattleName)
        <br />@Html.DisplayFor(m => m.BattleName)
    </div>
    
    <div class="col-sm-12">
        @Html.ActionLink("Done", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>